name: Weekly Check for Law Changes

on:
  schedule:
    - cron: '0 1 * * 4' # run every thursday at 1am (to test schedule, delete later)
    # - cron: '0 0 * * 1' # run every monday at midnight
    # workflow_dispatch # for manual triggering

permissions:
  contents: write

jobs:
  download-and-commit-laws:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install pandoc
      run: |
        sudo apt-get update && sudo apt-get upgrade
        sudo apt-get install pandoc

    - name: Download laws
      run: |
        ./run.sh

    - name: Add, commit, push
      run: |
        git config --global user.name 'JohannesNakayama'
        git config --global user.email '38665199+JohannesNakayama@users.noreply.github.com'
        git add german-law
        git commit -m "Automated update at $(date +%Y-%m-%d)"
        git push
